.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.guitar-image {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 260px;
  margin-bottom: 20px;
  overflow: hidden;
}

.guitar-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.point-image {
  position: absolute;
  width: 25px !important;
  height: 25px !important;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.answer-options button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5fc4b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.answer-options button:hover {
  background-color: #2aac94;
  transform: scale(1.05);
}

.result {
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.timer-container,
.progress-container {
  width: 100%;
  max-width: 750px;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.timer-bar,
.progress-bar {
  height: 25px;
  background-color: #76c7c0;
  width: 0;
  transition: width 0.2s ease-in-out;
}

.text {
  position: relative;
  top: -33px;
  // position: absolute;
  // top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #333;
}