.note-container {
  font-family: MangoDdobak-B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.note-container.fade-out {
  opacity: 0;
}

.note-container.fade-in {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.guitar-image {
  position: relative;
  width: 100%;
  max-width: 750px;
  height: 260px;
  margin-bottom: 20px;
  overflow: hidden;
}

.guitar-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.point-image {
  position: absolute;
  width: 25px !important;
  height: 25px !important;
}

.answer-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.result button,
.answer-options button {
  font-family: MangoDdobak-B;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5fc4b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.result button,
.answer-options button:hover {
  background-color: #2aac94;
  transform: scale(1.05);
}

.result {
  // height: 100vh;
  margin-top: 20px;
  font-size: 20px;
  color: #333;
}

.loading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading img {
  width: 100%;
}

.loading p {
  font-size: 24px;
  font-weight: bold;
  color: #5fc4b2;
  margin-top: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  // animation: pulse 1s infinite;
}

.timer-container,
.progress-container {
  width: 100%;
  max-width: 750px;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
  position: relative;
}

.timer-bar,
.progress-bar {
  height: 25px;
  background-color: #76c7c0;
  transition: width 0.3s linear;
}

.text {
  position: relative;
  top: -33px;
  // position: absolute;
  // top: 50%;
  transform: translateY(-50%);
  left: 10px;
  color: #333;
}

.count-container {
  font-size: 24px;
  margin-bottom: 20px;
}

.go-back-button {
  font-family: MangoDdobak-B;
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent; /* 배경색 투명으로 설정 */
  color: #007bff; /* 링크 색상으로 설정 */
  border: none;
  cursor: pointer;
  position: absolute; /* 절대 위치 설정 */
  top: 20px; /* 상단 여백 설정 */
  left: 20px; /* 좌측 여백 설정 */
}

.go-back-button:hover {
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}

.hint-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  max-width: 750px;
  margin-bottom: 10px;
}

.hint-container .hint-label {
  margin-right: 10px;
  font-size: 18px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 34px;
  height: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 10px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #76c7c0;
}

input:checked + .slider:before {
  transform: translateX(14px);
}
