/* Welcome.scss */

.welcome-container {
  font-family: MangoDdobak-B;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.typing-text {
  margin-bottom: 2rem;
  font-size: 24px;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-container input {
  font-family: MangoDdobak-R;
  margin-bottom: 2rem;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.welcome-button {
  font-family: MangoDdobak-B;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #5fc4b2;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.welcome-button:hover {
  background-color: #2aac94;
}

.go-back-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: transparent; /* 배경색 투명으로 설정 */
  color: #007bff; /* 링크 색상으로 설정 */
  border: none;
  cursor: pointer;
  position: absolute; /* 절대 위치 설정 */
  top: 20px; /* 상단 여백 설정 */
  left: 20px; /* 좌측 여백 설정 */
}

.go-back-button:hover {
  text-decoration: underline; /* 호버 시 밑줄 표시 */
}