.chord-btn-container {
  flex: 1 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap;

  button {
    margin: 1px;
    padding: 10px 20px;
    background-color: #2aac94;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 10rem;
    height: 40px;

    
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;

    &:hover {
      background-color: #1e8c74;
    }
  }
  
  @media (max-width: 768px) {
    button {
      padding: 10px 3px;
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      width: 4rem;
      row-gap: 1px;
      margin: 5px;
    }
  }

  >.chord-btn-header {
    padding-bottom: 1rem;
    >button {
      width: 4.5rem;
      background-color: #008080;

      &:hover {
        background-color: #2aa38f;
      }
    }
  }
  >.chord-btn-detail {
    >button {
      width: 5rem;
      background-color: #2aac94;
      white-space: nowrap;

      &:hover {
        background-color: #1e8c74;
      }
    }
  }
}

.note-result-container {
  display: flex;
  position: absolute;
  top: 100px;
  z-index: 1;

  
  .note-result {
    margin-top: 20px;
    font-size: 18px;
    font-weight: bold;
    opacity: 0; /* 초기 상태를 투명하게 설정 */

    &.success {
      display: none;

      &.active {
        display: block;
        animation: fadeIn 0.2s ease-in-out;
        opacity: 1; /* 애니메이션이 끝난 후 완전히 보이도록 설정 */
      }
    }

    &.fail {
      display: none;

      &.active {
        display: block;
        animation: fadeIn 0.2s ease-in-out;
        opacity: 1; /* 애니메이션이 끝난 후 완전히 보이도록 설정 */
      }
    }
  }
}

@media (max-width: 768px) {
  .note-result-container {
    display: flex;
    position: absolute;
    top: 40px;
    z-index: 1;
  
    > .note-result {
      animation: fadeIn 0.2s ease-in-out;
      opacity: 1; /* 애니메이션이 끝난 후 완전히 보이도록 설정 */
    }
  }
}

.correct-contianer {
  position: absolute;
  top: 10%;
  left: 75%;
}