.note-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  
    .note-grid {
      display: grid;
      grid-template-columns: repeat(7, 50px);
      gap: 1px;
    }
  
    .note-row {
      display: contents;
    }
  
    .note-row .note-cell:first-child {
      border: none;
    }

    .note-cell {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 30px;
      border: 1px solid #555555;
      font-size: 18px;
      font-weight: bold;
      color: #333;
      position: relative;

      >.position-mark {
        background-color: rgb(117, 113, 113);
        width: 10px;
        height: 10px;
        border: 1px solid rgb(117, 113, 113);
        border-radius: 50%;
        font-size: 13px;
      }

      >.target {
        background-color: rgb(255, 255, 255);
        width: 20px;
        height: 20px;
        border: 1px solid #000000;
        border-radius: 50%;
        font-size: 13px;
        position: absolute;
        top: -13px;
        // left: -35px;
        display: flex;
        flex-direction: row;
        justify-content: center;

        
        &.target-x {
            border: none;
            font-size: 17px;
            top: -15px;
            color: rgb(231, 83, 83);
            // left: -26px;
        }

        &.target-zero {
            top: -12px;
            // left: -30px;
        }

        &.target-note {
            background-color: red;
        }
      }
      
      &.note-cell-first {
        width: 48px;
        border-left: 3px solid #555555;
      }
    }


    // .note-flat {
    .note-grid .note-row:last-child {
        >.note-cell {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 30px;
            font-size: 18px;
            font-weight: bold;
            color: #333;
            border: none;
        }
    }
}
