.header {
  color: #494747;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  background-color: #ffffff;
  border-bottom: 1px solid #ddd;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-weight: 700;

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    position: relative;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  .header-top {
    position: absolute;
    left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2aac94;
    font-size: 24px;

    .logo {
      height: 40px;
      margin-right: 10px;
    }

    @media (max-width: 768px) {
      justify-content: center;
      width: 100%;
      font-size: 20px;
      position: relative;
    }
  }

  .menu-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &__nav {
      display: flex;
      gap: 0.25rem;
      color: #494747;
      font-size: 16px;

      @media (max-width: 768px) {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
      }
    }

    &__nav-item {
      cursor: pointer;
      padding: 10px 15px;
      border-radius: 5px;
      transition: background-color 0.3s, color 0.3s;
      text-align: center;

      &.active {
        background-color: #2aac94;
        color: white;
      }

      &:hover {
        background-color: #e0f7f3;
        color: #2aac94;
      }

      @media (max-width: 768px) {
        padding: 10px 5px;
        flex-grow: 1;
      }
    }
  }

  @media (max-width: 768px) {
    flex-direction: column;
    height: auto;

    .header-top {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;
      z-index: 1000;
      height: 3rem;
    }

    .menu-bar {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: #ffffff;
      z-index: 1000;
      border-top: 1px solid #ddd;
      justify-content: center;
    }
  }
}
